.App {
  text-align: center;
}

.AppHeader {
  background-color: #282c34;
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Rules{
  background-color: #282c34;
  border: none  ;
  opacity: 0.9;
  border-radius: 10px;
  padding: 5px;
}

.opacityIncrease{
  opacity: 1;
  color: ;
}

.mainnetButton {
  margin: 10px 0 10px 10px;
  padding: 15px;
  font-size: 16px;
  border: 0;
  border-radius: 20px;
  font-family: "Roboto", sans-serif;
  color: #f2f2f2;
  background-color:black;
}

.mainnetButton:hover{
  color: black;
  background-color:#f2f2f2;
  cursor:context-menu;
}

.devnetButton {
  margin: 10px 0 10px 10px;
  padding: 15px;
  font-size: 16px;
  border: 0;
  border-radius: 20px;
  font-family: "Roboto", sans-serif;
  color: #f2f2f2;
  background-color:black;
}

.devnetButton:hover{
  color: black;
  background-color:#f2f2f2;
  cursor:context-menu;
}

.testnetButton {
  margin: 10px 0 10px 10px;
  padding: 15px;
  font-size: 16px;
  border: 0;
  border-radius: 20px;
  font-family: "Roboto", sans-serif;
  color: #f2f2f2;
  background-color:black;
}

.testnetButton:hover{
  color: black;
  background-color:#f2f2f2;
  cursor:context-menu;
}

.buttonHolder{
  padding-right: 5px; 
  margin: 5px;
}